@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


/*Tab Bar CSS */
.TabBar {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #282c34;
  height: 50px;
  padding: 0 50px;
}

@media screen and (min-width: 1080px) {
  .TabBar {
    padding: 0 250px; /* larger padding for screens wider than 768px */
  }
}

.TabBar-title {
  color: white;
  margin: 0;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.TabBar-logo {
  height: 30px;
}

/*Hero Section CSS 
.Hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SearchBar input[type="text"] {
  height: 30px;
  width: 800px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  outline: none;
}

*/

.Hero {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  align-items: center;
  justify-items: center;
  padding: 50px;
}

.Hero-left {
  grid-row: 1 / 3;
  grid-column: 1 / 7; /* Adjusted to make space for new div */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Hero-left h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.SearchBar {
  display: flex;
  align-items: center;
}

.SearchBar input[type="text"] {
  width: 300px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  outline: none;
}

.Hero-middle {
  grid-row: 1 / 3;
  grid-column: 7 / 8; /* New div takes up one column */
  width: 2px;
  height: 80%;
  background-color: #000;
}

.Hero-right {
  grid-row: 1 / 3;
  grid-column: 8 / 13;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Hero-right img {
  width: 100%;
  max-width: 400px;
}

.Hero::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(50% - 2px);
  width: 4px;
  background-color: black;
  z-index: 1;
}
